*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, button, select {
  margin: 0;
  font: inherit;
}